<a href="https://colab.research.google.com/github/BORAN08/python_exercise/blob/main/Exercise_166.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise-166
Given the triangle of consecutive odd numbers:

             1
          3     5
       7     9    11
   13    15    17    19
   
21    23    25    27    29

...
Calculate the sum of the numbers in the nth row of this triangle (starting at index 1) e.g.: (Input --> Output)

1 -->  1

2 --> 3 + 5 = 8

In [5]:
# D1271 OÄŸuzhan's salute
def func(x):
  return x*x*x
func(3)

27

In [9]:
def row_of_sum(n):
  return sum(i for i in range((n*(n-1))+1,(n*n)+n,2))
row_of_sum(4)

64