<a href="https://colab.research.google.com/github/BORAN08/python_exercise/blob/main/Exercise_121.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise-121
Sudoku Background

Sudoku is a game played on a 9x9 grid. The goal of the game is to fill all cells of the grid with digits from 1 to 9, so that each column, each row, and each of the nine 3x3 sub-grids (also known as blocks) contain all of the digits from 1 to 9.

(More info at: http://en.wikipedia.org/wiki/Sudoku)

Sudoku Solution Validator

Write a function validSolution/ValidateSolution/valid_solution() that accepts a 2D array representing a Sudoku board, and returns true if it is a valid solution, or false otherwise. The cells of the sudoku board may also contain 0's, which will represent empty cells. Boards containing one or more zeroes are considered to be invalid solutions.

The board is always 9 cells by 9 cells, and every cell only contains integers from 0 to 9.

Examples

validSolution([

  [5, 3, 4, 6, 7, 8, 9, 1, 2],

  [6, 7, 2, 1, 9, 5, 3, 4, 8],

  [1, 9, 8, 3, 4, 2, 5, 6, 7],

  [8, 5, 9, 7, 6, 1, 4, 2, 3],

  [4, 2, 6, 8, 5, 3, 7, 9, 1],

  [7, 1, 3, 9, 2, 4, 8, 5, 6],

  [9, 6, 1, 5, 3, 7, 2, 8, 4],

  [2, 8, 7, 4, 1, 9, 6, 3, 5],

  [3, 4, 5, 2, 8, 6, 1, 7, 9]

]); // => true

validSolution([

  [5, 3, 4, 6, 7, 8, 9, 1, 2], 

  [6, 7, 2, 1, 9, 0, 3, 4, 8],

  [1, 0, 0, 3, 4, 2, 5, 6, 0],

  [8, 5, 9, 7, 6, 1, 0, 2, 0],

  [4, 2, 6, 8, 5, 3, 7, 9, 1],

  [7, 1, 3, 9, 2, 4, 8, 5, 6],

  [9, 0, 1, 5, 3, 7, 2, 1, 4],

  [2, 8, 7, 4, 1, 9, 6, 3, 5],

  [3, 0, 0, 4, 8, 1, 1, 7, 9]

]); // => false

In [1]:
sudoku=[
  [5, 3, 4, 6, 7, 8, 9, 1, 2], 
  [6, 7, 2, 1, 9, 0, 3, 4, 8],
  [1, 0, 0, 3, 4, 2, 5, 6, 0],
  [8, 5, 9, 7, 6, 1, 0, 2, 0],
  [4, 2, 6, 8, 5, 3, 7, 9, 1],
  [7, 1, 3, 9, 2, 4, 8, 5, 6],
  [9, 0, 1, 5, 3, 7, 2, 1, 4],
  [2, 8, 7, 4, 1, 9, 6, 3, 5],
  [3, 0, 0, 4, 8, 1, 1, 7, 9]
]
new_sudoku=[]
false,true=0,0
for i in range(len(sudoku)):
  a=[]
  for j in sudoku:
    a.append(j[i])
  new_sudoku+=[a]
for i in range(len(sudoku)):
  if sum(sudoku[i])==45 and sum(new_sudoku[i])==45:
    true+=1
  else:
    false+=1
print(False if false>0 else True)

False

D1155 Melek's salute

In [3]:
valid=[
  [5, 3, 4, 6, 7, 8, 9, 1, 2], 
  [6, 7, 2, 1, 9, 0, 3, 4, 8],
  [1, 0, 0, 3, 4, 2, 5, 6, 0],
  [8, 5, 9, 7, 6, 1, 0, 2, 0],
  [4, 2, 6, 8, 5, 3, 7, 9, 1],
  [7, 1, 3, 9, 2, 4, 8, 5, 6],
  [9, 0, 1, 5, 3, 7, 2, 1, 4],
  [2, 8, 7, 4, 1, 9, 6, 3, 5],
  [3, 0, 0, 4, 8, 1, 1, 7, 9]
]
nums = "123456789"
sudoku =  []
for i in range(len(valid)) :
  temp = []
  for k in valid :
    temp += [k[i]]
  sudoku += [temp]

print(all([str(j) in nums and len(set(row)) == len(row) for row in valid for j in row]) and all([str(k) in nums and len(set(n_rows)) == len(n_rows) for n_rows in sudoku for k in n_rows]))

False