<a href="https://colab.research.google.com/github/mahmutboran/python_exercise/blob/main/Exercise_184.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Write a Python/JS code to find the numbers that are grater than 150 at below text, and sort these numbers.
text = "Maradona spent 5 years at Argentinos Juniors, from 1976 to 1981 , scoring 115 goals in 167 appearances."

In [7]:
def grater150(text):
  return sorted([i for i in text.split(" ") if i.isdigit() and int(i)>150])
grater150("Maradona spent 5 years at Argentinos Juniors, from 1976 to 1981 , scoring 115 goals in 167 appearances.")

['167', '1976', '1981']